.container {
  margin-top: 6.9vh;
  display: flex;
  justify-content: center;
  padding-bottom: 12vh;
  .button {
    background: #fcb500;
    border-radius: 7px;
    border: none;
    font-size: clamp(13px, 1.25vw, 18px);
    padding: 1rem 2rem;
    cursor: pointer;
  }
}
