.main-header {
  width: 100%;
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 64px 19px;
  white-space: pre;

  // .main-header__logo
  &__logo {
    width: 120px;
    height: 35px;
  }

  // .main-header__basket
  &__basket {
    position: relative;
    margin-left: 5.278vw;
    margin-right: 1.667vw;
  }

  // .main-header__icon
  &__icon {
    background: none;
    border: none;
  }

  // .main-header__quantity
  &__quantity {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fcb500;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    font-size: 0.75em;
    margin: auto;
    color: black;
  }
}

// .menu
.menu {
  font-size: 1.25vw;
  list-style: none;
  display: flex;
  align-items: center;

  // .menu__item
  &__item {
    margin-left: 2.778vw;
  }

  // .menu__item-link
  &__item-link {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 480px) {
}
