.section {
  background-color: #000;
  padding: 0 64px;
  color: white;
  width: 100%;
  &_title {
    text-align: center;
    font-weight: 700;
    font-size: 3.333vw;
    line-height: 6.15vh;
    padding-top: 110px;
    margin-bottom: 85px;
    p {
      color: #fcb500;
    }
  }
  &_sale {
    text-align: center;
    del {
      margin-right: 32px;
      font-size: 2.5vw;
      color: #adadad;
    }
    span {
      font-size: 3.333vw;
    }
  }
  .card {
    display: flex;
    justify-content: center;
    margin-top: 59px;
    width: 100%;
  }
}
