* {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  padding: 0 64px;
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  h1 {
    font-size: 10vw;
    color: white;
    padding: 6rem 0 2.6vh 0;
    font-weight: 700;
    line-height: 1em;
  }

  h2 {
    font-weight: 700;
    font-size: clamp(20px, 2.5vw, 36px);
    margin-bottom: 1.7vh;
  }

  // .banner__description
  &__description {
    // .banner__description--1
    &--1 {
      font-weight: 400;
      font-size: clamp(13px, 1.667vw, 24px);
      line-height: 3.02vh;
      margin-bottom: 12.9vh;
    }
    // .banner__description--2
    &--2 {
      font-weight: 400;
      font-size: clamp(13px, 1.25vw, 18px);
      line-height: 2.3vh;
      padding-bottom: 10.3vh;
    }
  }

  img {
    position: absolute;
    right: 0;
    top: 82px;
    max-width: 49vw;
    height: 100%;
    margin-right: 4.444vw;
    object-fit: contain;
    object-position: bottom right;
  }
}
